<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ofertas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="consultarOfertas($event)">
    <ion-refresher-content color="primary" pull-min="100" snapback-duration="500ms" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item class="no-padding-item" text-center no-pedding *ngIf="carregandoTela">
      <ion-spinner color="primary"></ion-spinner>
    </ion-item>

    <ion-item *ngFor="let o of ofertas" (click)="detalhes(o)">
      <h2 class="titulo-lista">{{o.raca}}</h2>
      <p>{{o.genero}}</p>
      <p>{{o.localizacao}}</p>
      <p>
        <ion-note>
          <i class="fa fa-clock-o"></i> {{o.dataHora}}
        </ion-note>
      </p>
      <p>
        <ion-note>
          <i class="fa fa-search"></i> {{o.codigo}}
        </ion-note>
      </p>
    </ion-item>
  </ion-list>

</ion-content>