<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>579180688148-ji73rvtr0mov7sbn1faq9jftltkhd72b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579180688148-ji73rvtr0mov7sbn1faq9jftltkhd72b</string>
	<key>API_KEY</key>
	<string>AIzaSyDKaIbBpl-Ad_yW_2RsKYefHr5u6t_mOO4</string>
	<key>GCM_SENDER_ID</key>
	<string>579180688148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.quadsystems.aoponto</string>
	<key>PROJECT_ID</key>
	<string>aoponto-555bd</string>
	<key>STORAGE_BUCKET</key>
	<string>aoponto-555bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579180688148:ios:12c060ac5b1dee14</string>
	<key>DATABASE_URL</key>
	<string>https://aoponto-555bd.firebaseio.com</string>
</dict>
</plist>