page-home {
    .scroll-content {
        background-color: #f5f5f5;
    }
    .fab {
        contain: initial;
    }
    ion-fab {
        ion-fab-list button[ion-fab] {
            overflow: visible;
            div.label {
                position: absolute;
                right: 48px;
                background: whitesmoke;
                height: 24px;
                line-height: 16px;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 3px;
                color: black;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
            }
        }
    }
    #list-overlay {
        background-color: color($colors, 'light');
        position: fixed !important;
        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: 0.8;
        top: 0;
        left: 0
    }
    #notification-button {
        position: relative;
        width: 40px;
        top: 1px;
        overflow: visible !important;
    }
    #notifications-badge {
        background-color: color($colors, 'success');
        color: color($colors, 'light');
        font-family: "Roboto";
        font-size: 11px;
        padding: 1px;
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center
    }
}